<!DOCTYPE html>
<html lang="en">
<head>
  <title>XYZ COMMUNITY CENTER</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
  <body>

  <div class="jumbotron text-center">
    <h1>Welcome to XYZ Community Center</h1>
    <a href="/home">Back to home</a>
    <a href="/cancel_event">Back to previous page</a>
  </div>

  <center>
    <h3>Cancel Event </h3><br/><br/>
    <form method="POST" action="/cancel_event">
    <div style="color: red">If You Cancel any event Its deduct 5% of Your Paid Money !!! </div><br/>
      Reason of cancelling:<input type="text" name="reasonOfCancelling" />
      <input type="hidden" name="eventID" value="<%= event[0].id %>" />
      <input type="hidden" name="useremail" value="<%= event[0].user_email %>" />
      <br/><br/> &nbsp; &nbsp; &nbsp;<input type="submit" name="submit" value="Request For Cancel" />
    </form>

    
  </center>

  </body>
</html>

