<!DOCTYPE html>
<html lang="en">
<head>
  <title>XYZ COMMUNITY CENTER</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Welcome to XYZ Community Center</h1>
  <center>

  <a href="/home">Back To Home</a> 
  <a href="logout" style="float:right; margin-right:5% ">Logout</a> <br/><br/>
    <table width="40%">
        <tr>
          <td><input type="submit" class="btn btn-info" value="My Events" id="myEvents"></td>
          <td><input type="submit" class="btn btn-info" value="Cancel Events" id="cancelEvent"></td>
        </tr>
    </table>
</center>
</div>
<center>
<h3>Cancel Event </h3><br/><br/>

  <table border="1px solid black" width="85%" cellpadding="4" cellspacing="4" class="table table-bordered table-hover">
    <tr>
      <th width="15%">Booking Date</th>
      <th width="15%">Event Date</th>
      <th width="10%">Event Type</th>
      <th width="15%">Status</th>
      <th width="15%">Cancel Event</th>
    </tr>
    <% for(var i=0; i < event.length; i++){ %>
    <tr>
      <td><%= event[i].booking_date %></td>
      <td><%= event[i].event_date %></td>
      <td><%= event[i].event_type %></td>
      <td><%= event[i].status %></td>
      <td><a href="/cancel_event/<%= event[i].id %>">Click to cancel</a></td>
    </tr>
     <% } %>
  </table>
</center>

</body>
</html>

<script type="text/javascript">

	function upcommingEvent(){
	  location.href = "upcomiming_event_list";
	}

  

$( function() {
  
    $("#myEvents").click(function(){
      location.href = "my_events";
    }),
    $("#cancelEvent").click(function(){
      location.href = "cancel_event";
    });
});


</script>

	</script>