<!DOCTYPE html>
<html lang="en">
<head>
  <title>XYZ COMMUNITY CENTER</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Datepicker - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


</head>
<body>

<div class="jumbotron text-center">
  <h1>Welcome to XYZ Community Center</h1>
  <center>
  <a href="/home">Home</a> 
  <a href="logout" style="float:right; margin-right:5% ">Logout</a> <br/><br/>

 
  </center>

</div>

<center>
<form method="post" action="confirm_apply_for_event">
<input type="hidden" name="selectedDate" value="<%= selectedDate %>">
<input type="hidden" name="useremail" value="<%= useremail %>">

<pre>
<table cellpadding="4" cellspacing="4">
  <tr>
    <td>Event Type : </td>
    <td>
      <select id="evntType" name="event_type">
        <option value=""></option>
        <option value="marrige">Marrige</option>
        <option value="birthday">Birthday</option>
        <option value="seminer">Seminer</option>
      </select>
      </td>
  </tr>
  <tr>
    <td>Approximate Amount of People : </td>
    <td>
      <select name="people" id="people"  onchange="peopleamount()">
        <option value=""></option>
        <option value="100-200">100-200</option>
        <option value="200-400">200-400</option>
        <option value="400-600">400-600</option>
      </select>
    </td>
  </tr>
  <tr>
    <td>Amount : </td>
    <td><span id="amount" ></span></td>
  </tr>
  <tr>
    <td>Food Selection : </td>
    <td>
    <input type="radio" name='foods' value='polao,roast,biriani'> polao,roast,biriani &nbsp;
    <input type="radio" name='foods' value='burger,cold_drinks'> burger,cold_drinks &nbsp;
    <input type="radio" name='foods' value='Beef,mutton'> Beef,mutton &nbsp;
    </td>
  </tr>
</table>
<input type="hidden" name='amount1' />
<input type="submit" name="buttonsubmit" value="Submit">
</form>
</pre>
  
</center>
 

</body>
</html>


<script type="text/javascript">
  function peopleamount(){

      var type = document.getElementById('evntType').value;
      var people = document.getElementById('people').value;

      if(type=="marrige" && people=="100-200"){
        document.getElementById('amount').innerHTML="25000";
        document.forms[0].amount1.value = 25000;
      }
      if(type=="marrige" && people=="200-400"){
        document.getElementById('amount').innerHTML="40000";
        document.forms[0].amount1.value = 40000;
      }
      if(type=="marrige" && people=="400-600"){
        document.getElementById('amount').innerHTML="50000";
        document.forms[0].amount1.value = 50000;
      }


      if(type=="birthday" && people=="100-200"){
        document.getElementById('amount').innerHTML="25000";
        document.forms[0].amount1.value = 25000;
      }
      if(type=="birthday" && people=="200-400"){
        document.getElementById('amount').innerHTML="40000";
        document.forms[0].amount1.value = 40000;
      }
      if(type=="birthday" && people=="400-600"){
        document.getElementById('amount').innerHTML="50000";
        document.forms[0].amount1.value = 50000;
      }

      if(type=="seminer" && people=="100-200"){
        document.getElementById('amount').innerHTML="25000";
        document.forms[0].amount1.value = 25000;
      }
      if(type=="seminer" && people=="200-400"){
        document.getElementById('amount').innerHTML="40000";
        document.forms[0].amount1.value = 40000;
      }
      if(type=="seminer" && people=="400-600"){
        document.getElementById('amount').innerHTML="50000";
        document.forms[0].amount1.value = 50000;
      }
      
      else{
        document.getElementById('amount').innerHTML="";
        document.getElementById("amount1").value = "";
      }
  }


  function upcommingEvent()
  {
    location.href = "upcomiming_event_list";
  }


  function mngCreq()
  {
    location.href = "manage_cancel_request";
  }

</script>