<!DOCTYPE html>
<html lang="en">
<head>
  <title>XYZ COMMUNITY CENTER</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Welcome to XYZ Community Center</h1>
  <center>
  <a href="/adminHome">Home</a> 
  <a href="logout" style="float:right; margin-right:5% ">Logout</a> <br/><br/>

  <table width="40%">
  	<tr>
  		<td><input type="submit" class="btn btn-info" value="Show Report" onclick="showReport()"></td>
  		<td><input type="submit" class="btn btn-info" value="Upcomming Event" onclick="upcommingEvent()"></td>
  		<td><input type="submit" class="btn btn-info" value="Manage Cancel Request" onclick="mngCreq()"></td>
  	</tr>
  </table>
  </center>

</div>


<center>
<form method="post" action="/manage_due_payment">
Event ID : <%= event[0].id %> <br/><br/>
<input type="hidden" name="event_id" value="<%= event[0].id %>">
Event Date : <%= event[0].event_date %> <br/><br/>
Event Type : <%= event[0].event_type %> <br/><br/>
User Email : <%= event[0].user_email %> <br/><br/>
First Payment : <%= event[0].first_payment %> <br/><br/>
<input type="hidden" name="first_payment" value="<%= event[0].first_payment %>">
Due Payment : <%= event[0].due_payment %> <br/><br/>
<input type="hidden" name="due_payment" value="<%= event[0].due_payment %>">
<input type="submit" name="Clear_Payment" value="Clear Payment">

</form>
</center>



</body>
</html>

