<!DOCTYPE html>
<html lang="en">
<head>
  <title>XYZ COMMUNITY CENTER</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Welcome to XYZ Community Center</h1>
  <center>
  <a href="/adminHome">Home</a> 
  <a href="logout" style="float:right; margin-right:5% ">Logout</a> <br/><br/>

  <table width="40%">
  	<tr>
  		<td><input type="submit" class="btn btn-info" value="Show Report"></td>
  		<td><input type="submit" class="btn btn-info" value="Upcomming Event" onclick="upcommingEvent()"></td>
  		<td><input type="submit" class="btn btn-info" value="Manage Cancel Request" onclick="mngCreq()"></td>
  	</tr>
  </table>
  </center>

</div>

<center>
<form method="post" action="/manage_cancel_request">
  Cancelation ID : <%= cancel[0].id %><br/><br/>  
  <input type="hidden" name="cancel_id" value="<%= cancel[0].id %>">
  Event ID : <%= cancel[0].event_id %><br/><br/>
  <input type="hidden" name="event_id" value="<%= cancel[0].event_id %>">
  User Email : <%= cancel[0].user_email %><br/><br/>
  Reason Of Cancelation : <%= cancel[0].reasone_of_cancelation %><br/><br/>
  Event Date : <%= cancel[0].event_date %><br/><br/>
  Status : <%= cancel[0].status %><br/><br/>
  <input type="hidden" name="status" value="<%= cancel[0].status %>">
  <input type="submit" value="Approve" name="cancel"/>
  </form>
</center>


</body>
</html>

