<!DOCTYPE html>
<html lang="en">
<head>
  <title>XYZ COMMUNITY CENTER</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 
  

</head>
<body>

<div class="jumbotron text-center">
  <h1>Welcome to XYZ Community Center</h1>
  <br/>
  <center>
  <table width="20%">
    <tr>
      <td><a href="/login">Login</a></td>
      <td><a href="/registration">Registration</a></td>
    </tr>
  </table>
  </center>

</div>

<center>
<h3 style="color:green">This date is free . You can Book for your event</h3>
<br/><br/>
<a href="/login">Apply</a> &nbsp; &nbsp; <a href="/index">Check Another Date</a>
</center>
</html>





</body>
</html>



<script>

</script>