<!DOCTYPE html>
<html lang="en">
<head>
  <title>XYZ COMMUNITY CENTER</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Welcome to XYZ Community Center</h1>
  <center>
  <a href="/adminHome">Home</a> 
  <a href="logout" style="float:right; margin-right:5% ">Logout</a> <br/><br/>

  <table width="70%">
  	<tr>
  		<td><input type="submit" class="btn btn-info" value="Show Monthly Report"></td>
  		<td><input type="submit" class="btn btn-info" value="Show Yearly Report"></td>
  		<td><input type="submit" class="btn btn-info" value="Upcomming Event"></td>
  		<td><input type="submit" class="btn btn-info" value="Manage Cancel Request"></td>
  	</tr>
  </table>
  </center>

</div>




</body>
</html>