<!DOCTYPE html>
<html lang="en">
<head>
  <title>XYZ COMMUNITY CENTER</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Datepicker - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


</head>
<body>

<div class="jumbotron text-center">
  <h1>Welcome to XYZ Community Center</h1>
  <center>

  <a href="/home">Home</a> 
  <a href="logout" style="float:right; margin-right:5% ">Logout</a> <br/><br/>
    <table width="40%">
        <tr>
          <td><input type="submit" class="btn btn-info" value="My Events" id="myEvents"></td>
          <td><input type="submit" class="btn btn-info" value="Cancel Events" id="cancelEvent"></td>
        </tr>
        
          <% if(username){ %>
          <p style="padding-left: 600px;">Welcome <%= username %></p>
          <%}%>

        
    </table>
 
  </center>

</div>

  <center>

    <br /><br /><br /><br />
    
    <form method="post">
      Choose Date : <input type="text" id="datepicker1" name="datepicker1"> 
      <br/> <br/><input type="submit" name="check" value="Check">
    </form>
    
  </center>
 

</body>
</html>



<script type="text/javascript">

$( function() {
    $( "#datepicker1" ).datepicker(),

    $("#myEvents").click(function(){
      location.href = "my_events";
    }),
    $("#cancelEvent").click(function(){
      location.href = "cancel_event";
    });
});


</script>