<!DOCTYPE html>
<html lang="en">
<head>
  <title>XYZ COMMUNITY CENTER</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Welcome to XYZ Community Center</h1>
  <center>
  <a href="/adminHome">Home</a> 
  <a href="logout" style="float:right; margin-right:5% ">Logout</a> <br/><br/>

  <table width="40%">
  	<tr>
  		<td><input type="submit" class="btn btn-info" value="Show Report" onclick="showReport()"></td>
  		<td><input type="submit" class="btn btn-info" value="Upcomming Event" onclick="upcommingEvent()"></td>
  		<td><input type="submit" class="btn btn-info" value="Manage Cancel Request" onclick="mngCreq()"></td>
  	</tr>
  </table>
  </center>

</div>

<center>
<h3>Request For Cancel Event </h3><br/><br/>
  <table border="1px solid black" width="85%" cellpadding="4" cellspacing="4" class="table table-bordered table-hover">
    <tr>
      <th width="15%">Cancelation Request ID</th>
      <th width="15%">Event ID</th>
      <th width="10%">User Email</th>
      <th width="15%">Event Date</th>
      <th width="15%">Reason Of Cancelation</th>
      <th width="15%">Cancelation</th>
    </tr>
    <% for(var i=0; i < cancel.length; i++){ %>
    <tr>
      <td><%= cancel[i].id %></td>
      <td><%= cancel[i].event_id %></td>
      <td><%= cancel[i].user_email %></td>
      <td><%= cancel[i].event_date %></td>
      <td><%= cancel[i].reasone_of_cancelation %></td>
      <td><a href="/manage_cancel_request/<%= cancel[i].id %>">Cancel</td>
    </tr>
     <% } %>
  </table>
</center>

</body>
</html>

<script>
function myFunction(){
    confirm("Are You sure ??? ");
}

function upcommingEvent(){
  location.href = "upcomiming_event_list";
}

function mngCreq(){
  location.href = "manage_cancel_request";
}


function showReport()
{
  location.href = "show_report";
}

</script>