<!DOCTYPE html>
<html lang="en">
<head>
  <title>XYZ COMMUNITY CENTER</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Datepicker - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


</head>
<body>

<div class="jumbotron text-center">
  <h1>Welcome to XYZ Community Center</h1>
  <center>
  <a href="/adminHome">Home</a> 
  <a href="logout" style="float:right; margin-right:5% ">Logout</a> <br/><br/>

  <table width="40%">
  	<tr>
  		<td><input type="submit" class="btn btn-info" value="Show Report" onclick="showReport()"></td>
      <td><input type="submit" class="btn btn-info" value="Upcomming Event" onclick="upcommingEvent()"></td>
      <td><input type="submit" class="btn btn-info" value="Manage Cancel Request" onclick="mngCreq()"></td>
  	</tr>
  </table>
  </center>

</div>

<center>
<form method="post">
<table width="90%" margin-left="20px"> 
  <tr> 
    <td width="20%"></td>
    <td width="35%">Report From: <input type="text" id="datepicker1" name="datepicker1""></td>   
    <td width="35%">To: <input type="text" id="datepicker2" name="datepicker2""></td>
   </tr>
</table>
<br/><br/>
<input type='submit' name='report' value="Show Report"/>
</form>
</center>




</body>
</html>




<script>

  $( function() {
    $( "#datepicker1" ).datepicker();
  } );

   $( function() {
    $( "#datepicker2" ).datepicker();
  } );



function myFunction(){
    confirm("Are You sure ??? ");
}

function upcommingEvent(){
  location.href = "upcomiming_event_list";
}

function mngCreq(){
  location.href = "manage_cancel_request";
}


function showReport()
{
  location.href = "show_report";
}


</script>